@namespace MC.Blazor

<a href="tel:@Item.GetValue(Col.Name)">
    @if (String.IsNullOrWhiteSpace(Col.FormatString))
    {
        @Item.GetString(Col.Name).ToPhoneFormat()
    }
    else
    {
        @String.Format(Item.GetValue(Col.Name).ToString(), Col.FormatString.ToLower())
    }
</a>

@code {
    [CascadingParameter(Name = "Item")]
    protected object Item { get; set; }
    [CascadingParameter(Name = "Col")]
    protected McDataGridColumn Col { get; set; }
}
