@namespace MC.Blazor
@inherits McDataGridCellBase

    <td class="align-middle @cssFormat" style="width: @($"{Col.Width}%")">
        @if (Col.Kind == ColumnKind.Normal)
        {
            <McDataGridCellNormal />
        }
        else if (Col.Kind == ColumnKind.Phone)
        {
            <McDataGridCellPhone />
        }
        else if (Col.Kind == ColumnKind.Email)
        {
            <McDataGridCellEmail />
        }
        else if (Col.Kind == ColumnKind.Checkbox)
        {
            <McDataGridCellCheckbox OnChanged="OnChangedCheckboxVoid" />
        }
        else if (Col.Kind == ColumnKind.Update)
        {
            <McDataGridCellUpdate OnUpdate="OnUpdate" />
        }
        else if (Col.Kind == ColumnKind.Delete)
        {
            <McDataGridCellDelete OnDelete="OnDelete" />
        }
    </td>
