@namespace MC.Blazor

<button class="btn btn-link text-@(Item.GetBool(Col.Name) ? "success" : "dark")" title="@(Item.GetBool(Col.Name) ? "إلغاء تفعيل" : "تفعيل")" @onclick="Clicked">
    <i class="fas fa-check-square"></i>
</button>

@code {
    [CascadingParameter(Name = "Item")]
    protected object Item { get; set; }

    [CascadingParameter(Name = "Col")]
    protected McDataGridColumn Col { get; set; }

    [Parameter] public EventCallback<McDataGridCellCheckboxState> OnChanged { get; set; }

    async Task Clicked()
    {
        var state = new McDataGridCellCheckboxState
        {
            Id = Item.GetString("Id"),
            Name = Col.Name,
            NewState = !Item.GetBool(Col.Name),
        };

        await OnChanged.InvokeAsync(state);
    }
}
